@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Roboto:wght@400;500;700&display=swap');

:root {  
  --background:#FFF;
  --text-color: #000;
  --text-akcent:  #00000080;
  --text-card: #8E8E93; 
  --text-button: #2196F3;
  --background-button: #F2F9FE;
  --background-button-inline: #E3F2FD;
}

body {  
  color:var(--text-color);
  background: var(--background);  
}

* {
  margin: 0;
  padding: 0;
  border: 0;    
}

ul {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
  color:var(--text-color);
}
