.conteiner{
    display: flex;
}

.name{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-top: 16px;    
}

.back{
    background: none;    
    font-family: Karla,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    transition: all 1s;   
}

.back:hover,.link:focus{
    color:var(--text-akcent);    
}