.images{
    border-radius: 50%;
}

.card{ 
    display:flex;
    flex-wrap: wrap;
    gap:52px; 
    color:var(--text-card);
    text-align: left;
    font-family: Roboto,sans-serif; 
    margin-top: 32px;      
}

.text{
    width: 100%;
}

.name{
    font-weight: 400;
    font-size:32px;
    line-height: 38px;
}

.title{
    font-weight: 500;
    font-size:20px;
    line-height: 24px;
    margin-bottom: 16px; 
}

.property{
   color:var(--text-color);
   font-weight: 700;
    font-size:16px;
    line-height: 24px; 
    padding: 10px 16px 0;
}

.context{
    padding: 10px 16px;
    border-bottom: 1px solid  var(--text-card); 
}

.wrapp{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  var(--text-card); 
    padding: 16px;   
}

.conteiner{
    display: flex;
    flex-direction: column; 
    gap: 5px;  
}

.h4{
    color: var(--text-color);    
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.wrapp p{
    padding: 0;  
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}
.link{
    transition: all 1s;  
}

.link:hover, .link:focus{   
    width: 30px;
    height: 30px;
}

@media  (width >=768px) and (width <=1279px) {
    .card{
        flex-wrap:nowrap;
    }   
}

@media  (width >=1280px){
    .card{
        flex-wrap:nowrap;
        justify-content: space-between;
    }  
}